a {
	color: red;
}



a:hover {
	text-decoration: underline;
	font-weight: bold;
	cursor:pointer;
}

p {
	display: inline-block;
}

span {
	display: block;
}



.tweets {
	width: 30%;

	

	
}

.followers{
	width: 30%;

	position: fixed;
	top:0;
	right: 0;
	
}

.followers a{
	display: block;
	
}

